@import "../../_scss";

.slider {
  height: fit-content;
  width: 100%;
  @include screen-min-1024 {
    height: auto;
    width: 445px;
  }

  &__slide {
    &_img {
      display: block;
      height: auto;
      margin: auto;
      width: 170px;
      @include screen-min-576 {
        width: 250px;
      }
      @include screen-min-768 {
        width: 300px;
      }
      @include screen-min-1024 {
        margin: 0;
        width: 445px;
      }
    }
  }
}
