@import "../../_scss";

.slider {
  padding-top: 3.5rem !important;
  position: relative;
  max-width: 400px;
  @include screen-min-576 {
    max-width: none;
    width: 460px;
  }
  @include screen-min-768 {
    padding-top: 4.75rem !important;
    width: 570px;
  }
  @include screen-min-1024 {
    padding-top: 5.5rem !important;
    width: 440px;
  }

  &__slide {
    background-color: transparent;
    backface-visibility: hidden;
    text-align: center;
    width: 100% !important;
    @include screen-min-1024 {
      text-align: left;
    }

    &_title {
      font-family: "Bellefair", serif;
      font-size: 3.5rem;
      font-weight: 400;
      text-transform: uppercase;
      letter-spacing: 1px;
      @include screen-min-576 {
        font-size: 5rem;
        letter-spacing: 1px;
      }
      @include screen-min-768 {
        font-size: 5rem;
        letter-spacing: 1.5px;
      }
      @include screen-min-1024 {
        font-size: 6rem;
      }
    }

    &_info {
      color: $color-light-purple;
      font-family: Arial, Helvetica, sans-serif;
      font-size: 0.875rem;
      font-weight: lighter;
      line-height: 1.8;
      letter-spacing: 0.1px;
      margin-top: -0.6rem;
      margin-bottom: 2.125rem;
      @include screen-min-768 {
        letter-spacing: 0.6px;
        line-height: 2;
        margin-top: -0.4rem;
        margin-bottom: 3.375rem;
      }
      @include screen-min-1024 {
        font-size: 1rem;
        margin-top: -0.2rem;
        margin-bottom: 3.75rem;
      }
    }

    &_data {
      border-top: 1px solid rgba($color-light-purple, 0.3);
      display: flex;
      flex-direction: column;
      gap: 1.5rem;
      padding-top: 1.875rem;
      @include screen-min-576 {
        flex-direction: row;
        gap: 5rem;
        justify-content: center;
      }
      @include screen-min-768 {
        padding-top: 1.5rem;
      }
      @include screen-min-1024 {
        justify-content: flex-start;
      }

      &_item {
        text-transform: uppercase;
        @include screen-min-576 {
        }
      }

      &_title {
        color: $color-light-purple;
        font-size: 1rem;
        font-weight: lighter;
        letter-spacing: 1.5px;
      }

      &_value {
        font-family: "Bellefair", serif;
        font-size: 1.75rem;
        font-weight: 400;
        margin-top: 1rem;
      }
    }
  }

  :global(.swiper-pagination) {
    display: flex;
    gap: 0.5rem;
    justify-content: center;
    top: 0 !important;
    bottom: auto !important;
    @include screen-min-576 {
      gap: 1rem;
    }
    @include screen-min-768 {
      gap: 1.5rem;
    }
    @include screen-min-1024 {
      justify-content: flex-start;
    }
  }

  :global(.swiper-pagination-bullet) {
    background-color: transparent;
    color: $color-light-purple;
    font-size: 1rem;
    height: 1rem;
    letter-spacing: 2.5px;
    opacity: 1;
    text-transform: uppercase;
    transition: 0.4s;
    width: fit-content;
  }

  :global(.swiper-pagination-bullet:hover) {
    color: $color-white;
    padding-bottom: 1rem;
    text-decoration: underline;
    text-decoration-thickness: 1px;
    text-underline-offset: 0.5rem;
    @include screen-min-576 {
      text-underline-offset: 0.75rem;
    }
    @include screen-min-768 {
      text-underline-offset: 1rem;
    }
  }

  :global(.swiper-pagination-bullet-active) {
    color: $color-white;
    padding-bottom: 1rem;
    pointer-events: none;
    text-decoration: underline;
    text-decoration-thickness: 3px;
    text-underline-offset: 0.5rem;
    @include screen-min-576 {
      text-underline-offset: 0.75rem;
    }
    @include screen-min-768 {
      text-underline-offset: 1rem;
    }
  }
}
