@import "../../_scss";

.slider {
  width: 100%;
  @include screen-min-1024 {
    width: 515px;
  }

  &__slide {
    background-color: rgb(51, 100, 156);

    &_img {
      display: block;
      width: 100%;
    }
  }
}
