@import "../../_scss";

.main {
  @include background(
    "../../assets/home/background-home-mobile.jpg",
    "../../assets/home/background-home-tablet.jpg",
    "../../assets/home/background-home-desktop.jpg"
  );
  display: flex;
  padding: 7rem 1.5rem 3rem 1.5rem;
  @include screen-min-768 {
    padding: 8rem 2.5rem 1.5rem 2.5rem;
  }
  @include screen-min-1024 {
    padding: 11rem 3.5rem 2rem 3.5rem;
  }
}

.content {
  align-items: center;
  display: flex;
  flex: 1;
  flex-direction: column;
  gap: 1rem;
  justify-content: space-between;
  @include screen-min-768 {
    justify-content: space-around;
  }
  @include screen-min-1024 {
    align-items: flex-end;
    flex-direction: row;
    justify-content: space-between;
    margin: auto;
    max-width: 1100px;
    padding-top: 6rem;
  }
}

.info {
  text-align: center;
  @include screen-min-1024 {
    text-align: left;
  }

  &__subtitle {
    color: $color-light-purple;
    font-size: 1rem;
    text-transform: uppercase;
    letter-spacing: 2.8px;
    @include screen-min-576 {
      font-size: 1.25rem;
    }
    @include screen-min-768 {
      font-size: 1.5rem;
    }
    @include screen-min-1024 {
      font-size: 1.75rem;
      letter-spacing: 4.8px;
    }
  }

  &__title {
    font-family: "Bellefair", serif;
    font-size: 4.75rem;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 2.5px;
    margin-top: 1.5rem;
    margin-bottom: 1rem;
    @include screen-min-576 {
      font-size: 7.5rem;
      line-height: 1;
      margin-top: 3rem;
      margin-bottom: 0.5rem;
    }
    @include screen-min-768 {
      font-size: 9.5rem;
      margin-top: 3.5rem;
      margin-bottom: 0rem;
    }
    @include screen-min-1024 {
      letter-spacing: 0px;
      margin-bottom: 0.5rem;
      margin-left: -0.75rem;
    }
  }

  &__text {
    color: $color-light-purple;
    font-size: 1rem;
    letter-spacing: 1px;
    line-height: 1.55;
    margin: auto;
    max-width: 300px;
    @include screen-min-576 {
      max-width: 350px;
    }
    @include screen-min-768 {
      line-height: 1.75;
      max-width: 450px;
    }
    @include screen-min-1024 {
      font-size: 1.25rem;
      letter-spacing: 0.8px;
      line-height: 1.6;
    }
  }
}

.explore {
  height: 150px;
  width: 150px;
  @include screen-min-576 {
    height: 190px;
    width: 190px;
  }
  @include screen-min-768 {
    height: 240px;
    width: 240px;
  }
  @include screen-min-1024 {
    height: 270px;
    width: 270px;
  }
}
