@import "../_scss";

.header {
  position: absolute;
  right: 0;
  top: 0;
  width: 100%;
  z-index: 5;

  &::before {
    display: none;
    @include screen-min-768 {
      background-color: rgba($color-light-purple, 0.1);
      content: "";
      display: block;
      height: 100%;
      width: 440px;
      position: absolute;
      right: 0;
      top: 0;
      width: 440px;
    }
    @include screen-min-1024 {
      height: calc(100% - 5rem);
      margin-block: 2.5rem;
      min-width: 680px;
      width: 55%;
    }
  }

  &__inner {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 1.5rem;
    position: relative;
    @include screen-min-768 {
      padding: 0rem 2.5rem;
      height: 6rem;
    }
    @include screen-min-1024 {
      margin: 2.5rem auto;
      max-width: 1440px;
      padding: 0rem 3.5rem;
    }
  }

  &__logo {
    display: block;
    height: 40px;
    width: 40px;
    @include screen-min-768 {
      height: 48px;
      width: 48px;
    }
  }

  &__line {
    display: none;
    @include screen-min-1024 {
      background-color: rgba($color-light-purple, 0.3);
      display: block;
      height: 1px;
      margin-inline: 4rem;
      width: 100%;
    }
  }

  &__navbar {
    background-color: rgba($color-light-purple, 0.3);
    height: 100vh;
    position: absolute;
    right: -240px;
    top: 0;
    width: 240px;
    @include screen-min-768 {
      background-color: transparent;
      height: 100%;
      position: relative;
      right: 0;
      width: fit-content;
    }

    &_open {
      right: 0;
      transition: 0.4s;
      @include screen-min-768 {
        transition: 0s;
      }
    }

    &_list {
      display: flex;
      flex-direction: column;
      gap: 1rem;
      padding: 6rem 2rem;
      @include screen-min-768 {
        flex-direction: row;
        gap: 2rem;
        height: 100%;
        padding: 0;
      }
      @include screen-min-1024 {
        gap: 3.5rem;
      }
    }

    &_item {
      align-items: center;
      display: flex;
      flex-direction: row;
      height: 3rem;
      position: relative;
      width: fit-content;
      @include screen-min-768 {
        height: 100%;
      }

      &_active {
        pointer-events: none;
        &::after {
          bottom: 0;
          background-color: $color-white;
          content: "";
          height: 2px;
          left: 0;
          position: absolute;
          width: 100%;
        }
      }
    }

    &_link {
      color: $color-white;
      display: block;
      font-size: 1rem;
      letter-spacing: 2.5px;
      text-decoration: none;
      text-transform: uppercase;
      @include screen-min-768 {
        letter-spacing: 2px;
      }
      @include screen-min-1024 {
        display: flex;
        flex-direction: row;
        gap: 0.5rem;
        letter-spacing: 2.5px;
      }

      &_number {
        font-weight: bolder;
        @include screen-min-768 {
          display: none;
        }
        @include screen-min-1024 {
          display: block;
        }
      }
      &_text {
        @include screen-min-1024 {
          display: block;
        }
      }
      &::after {
        bottom: 0;
        background-color: $color-white;
        content: "";
        height: 1px;
        left: 0;
        position: absolute;
        transition: 0.2s;
        width: 0%;
      }

      &:hover {
        &::after {
          width: 100%;
        }
      }
    }
  }

  &__button {
    cursor: pointer;
    z-index: 10;
    transition: 0.4s;
    @include screen-min-768 {
      display: none;
    }
    &:hover &_img {
      opacity: 0.6;
    }

    &_img {
      display: block;
      transition: 0.4s;
    }
  }
}
