$color-white: #fff;
$color-light-purple: #d0d6f9;
$color-almost-black: #0b0d17;

@mixin screen-min-576 {
  @media screen and (min-width: 576px) {
    @content;
  }
}

@mixin screen-min-768 {
  @media screen and (min-width: 768px) {
    @content;
  }
}

@mixin screen-min-1024 {
  @media screen and (min-width: 1024px) {
    @content;
  }
}

@mixin screen-min-1120 {
  @media screen and (min-width: 1120px) {
    @content;
  }
}

@mixin screen-min-1280 {
  @media screen and (min-width: 1280px) {
    @content;
  }
}

@mixin background($mobile, $tablet, $desktop) {
  background-image: url($mobile);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
  position: relative;
  width: 100%;
  @include screen-min-768 {
    background-image: url($tablet);
  }
  @include screen-min-1024 {
    background-image: url($desktop);
  }
}
